
.app {
    width: 1920px;
    height: 1080px;
    background-color: rgb(15, 23, 36);
    display: grid;
    grid-template-rows: 110px auto;

    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.28581;
    text-transform: none;
    /*color: #182026;*/
    color: white;
    font-family: "TT Norms Regular", serif;
    user-select: none;
    /*position: relative;*/
    /*z-index: -1;*/
    /*cursor: none;*/
}
body{
    margin: 0;
	padding: 0;
}

button {
    color: inherit;
}
