@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.app {
    width: 1024px;
    height: 600px;
    background-color: lightslategray;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}
