.keyboardContainer {
    width: 105px;
    height: 180px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.keyboardContainer > div:first-child {
    height: 35px;
    color: white;
    /*width: calc(100% - 10px);*/
    font-size: 25px;
    border-radius: 5px;
    margin: auto;
    display: block;
    text-align: center;
    /*background-color: ;*/
}

.keyboardContainer > div:first-child:empty:before {
    content:attr(data-placeholder);
    color:gray
}

.keyboard-numeric {
    background-color: transparent;
}

.buttons {
     width: 35px;
    height: 35px;
}
