.header {
    background-color: linen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMenu {
    margin: 0 10px;
    user-select: none;
}

.recipe-bar {
    background-color: goldenrod;
    height: calc(100% - 25px);
    width: calc(100% - 25px);
}

